
<head>
  <title>FinalQuotes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="txtboard" />
  <meta name="theme-color" content="#312e39" />
  {%- seo -%}
  <link rel="icon" type="image/jpg" href="../assets/img/favicon16.jpg" sizes="16x16">
  <link rel="icon" type="image/jpg" href="../assets/img/favicon32.jpg" sizes="32x32">
  <link rel="icon" type="image/jpg" href="../assets/img/favicon96.jpg" sizes="96x96">
  <link rel="stylesheet" href="../assets/css/base.css">
</head>